<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="new" (click)="voltar('tabs/pets')">
        <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1><u>Seus novos pets!</u></h1>
    <img src="assets/logopronto.png">
  </div>

  <div class="ion-padding">
    <form class="ion-padding">
      <div class="wrap-input">
        <input class="input" type="text" name="name" placeholder="Digite o nome:">
      </div>

      <div class="wrap-input">
        <input class="input" type="text" name="raça" placeholder="Digite a raça:">
      </div>

      <div class="wrap-input">
        <input class="input" type="number" name="idade" placeholder="Digite a idade:">
      </div>
    
      
    </form>
  </div>
  
  <div class="container-form-btn">
    <button class="form-btn custom-font">
      Adicionar
    </button>
  </div> 
    
</ion-content>
