<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="new" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="header">
    <h1><u>Seu novo pet!</u></h1>
    <img src="../../assets/logopronto.png">
  </div>
  <div class="ion-padding">
    <form [formGroup]="addPetForm" (ngSubmit)="addPet(addPetForm.value)" class="ion-padding">
      <div class="wrap-input">
        <input #name class="input" type="text" placeholder="Digite o nome:" formControlName="name">
      </div>
      <div class="wrap-input">
        <input #species class="input" type="text" placeholder="Digite a espécie:" formControlName="species">
      </div>
      <div class="wrap-input">
        <input #breed class="input" type="text" placeholder="Digite a raça:" formControlName="breed">
      </div>
      <div class="wrap-input">
        <input #age_years class="input" type="number" placeholder="Digite a idade (em anos):" formControlName="age_years">
      </div>
      <div class="wrap-input">
        <input #weight_kilos class="input" type="number" placeholder="Digite o peso (em kgs):" formControlName="weight_kilos">
      </div>
      <div class="container-form-btn">
        <button type="submit" class="form-btn custom-font">
          Adicionar
        </button>
      </div>
    </form>
  </div>
</ion-content>