<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="apps"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered" fill="solid" color="light">
        <ion-icon color="custom" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none">

    <ion-searchbar animated></ion-searchbar>


  </ion-item>

</ion-header>


<ion-content>
  
  <ion-item lines="none">
    <ion-label><b>Serviços agendados</b></ion-label>
    <ion-button slot="end" (click)="presentAlertPrompt()">CANCELAR</ion-button>
  </ion-item>
  <ion-list *ngFor="let a of agendado">
    <ion-item>Serviço: {{a.servico}} - Data: {{a.data}}</ion-item>
  </ion-list>
  
  <ion-item lines="none">
    <ion-label><b>Histórico de Serviços</b></ion-label>
  </ion-item>
  <ion-list *ngFor="let h of historico">
    <ion-item>Serviço: {{h.servico}} - Data: {{h.data}}</ion-item>
  </ion-list>

</ion-content>