<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
<ion-header></ion-header>
<ion-content>
  <div class="ion-padding" id="header">
    <img
      src="../../assets/logopronto.png"
      alt="user_profile_pic">
  </div>
  <form [formGroup]=updatedUser (ngSubmit)="presentConfirmationAlert(updatedUser.value)" class="ion-padding">
    <div class="ion-padding">
      <ion-item class="wrap-input">
        <ion-label position="stacked">Nome</ion-label>
        <ion-input class="input" type="text" formControlName="name" placeholder="{{currentUser.name}}"
          readonly="{{!editing}}"></ion-input>
      </ion-item>
      <ion-item class="wrap-input">
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input class="input" type="text" formControlName="email" placeholder="{{currentUser.email}}"
          readonly="{{!editing}}"></ion-input>
      </ion-item>
      <ion-item class="wrap-input">
        <ion-label position="stacked">Telefone</ion-label>
        <ion-input class="input" type="number" formControlName="phone_number" placeholder="{{currentUser.phone_number}}"
          readonly="{{!editing}}"></ion-input>
      </ion-item>
      <ion-item class="wrap-input">
        <ion-label position="stacked">Endereço</ion-label>
        <ion-input class="input" type="text" formControlName="address" placeholder="{{currentUser.address}}"
          readonly="{{!editing}}"></ion-input>
      </ion-item>
    </div>
    <div id="alterButton" class="container-form-btn ion-padding">
      <ion-button class="form-btn custom-font" (click)="startEditing()">Alterar</ion-button>
    </div>
    <div id="confirmAndCancelButtons" style="display: none;">
      <ion-row>
        <ion-col size="6">
          <ion-button id="cancelButton" class="form-btn custom-font" (click)="cancelUpdate()">Cancelar</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button id="confirmButton" class="form-btn custom-font" type="submit">Confirmar</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </form>
  <div>
    <ion-button (click)="signOut()" expand="block" fill="clear" shape="round">Sair</ion-button>
  </div>
</ion-content>