<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="doBack()">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <app-searchbar></app-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="slides ion-margin-bottom">
    <ion-slide>
      <ion-card>
        <ion-card-content class="ion-text-left">
          <ion-card-title class="ion-margin-bottom">{{ shop.name }}</ion-card-title>
          <ion-card-subtitle class="ion-text-left">{{ shop.address }}</ion-card-subtitle>
          <ion-progress-bar color="custom"></ion-progress-bar>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </div>
  <div class="container">
    <ion-item lines="none" *ngFor="let service of shop.services">
      <ion-grid>
        <ion-col>
          <ion-label>
            <h4>{{ service.service_name }}</h4>
            <h4>{{ service.price }}</h4>
          </ion-label>
          <ion-button color="custom" size="small" (click)="presentOrderPlacementPrompt(service)">
            Agendar
            <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-grid>
    </ion-item>
  </div>
</ion-content>