ion-header {

    ion-toolbar, ion-item {
        --background: #f1f5f8;
        background: #f1f5f8;
        padding: 0 10px;
    }

    ion-toolbar {
     .bordered {
         --border-radius: 10px;
         --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
     }
    }

    ion-item {
        h3 {
            font-weight: 700;
            font-size: 14px;
        }

        ion-avatar {
            --border-radius: 40%;
        }
    }
    
}
