<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="new" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-list-header>
      {{ currentService.service_name }}
    </ion-list-header>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let shop of currentService.available_in" button (click)="openShop(shop.petshop_username)">
      {{ shop.petshop_name }}
    </ion-item>
  </ion-list>
</ion-content>