<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-searchbar animated debounce="500" (ionChange)="pesquisar($event)"></ion-searchbar>
  </ion-item>
</ion-header>
<ion-content>
  <ion-list *ngFor="let t of testeFilter">
    <ion-item>
      {{ t }}
    </ion-item>
  </ion-list>
  <div class="slides ion-margin-bottom">
    <ion-slides [options]="slidesOptions">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="assets/logopronto.png">
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Shop 1</ion-card-title>
            <ion-card-subtitle class="ion-text-right">texto</ion-card-subtitle>
            <ion-button expand="block" (click)="abrirShop('shop')">Serviços</ion-button>
            <ion-progress-bar color="custom"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="assets/logopronto.png">
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">shop 2</ion-card-title>
            <ion-card-subtitle class="ion-text-right">texto</ion-card-subtitle>
            <ion-button expand="block">Serviços</ion-button>
            <ion-progress-bar color="custom"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="assets/logopronto.png">
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Shop 3</ion-card-title>
            <ion-card-subtitle class="ion-text-right">texto</ion-card-subtitle>
            <ion-button expand="block">Serviços</ion-button>
            <ion-progress-bar color="custom"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="assets/logopronto.png">
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Shop 4</ion-card-title>
            <ion-card-subtitle class="ion-text-right">texto</ion-card-subtitle>
            <ion-button expand="block">Serviços</ion-button>
            <ion-progress-bar color="custom"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="container">
    <h2>Promoções</h2>
    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-itens-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="american-football-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>Promoção</h4>
              <h6>Promoção</h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="pricetags-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-itens-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="basketball-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>Promoção</h4>
              <h6>Promoção</h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="pricetags-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-itens-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="baseball-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>Promoção</h4>
              <h6>Promoção</h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="pricetags-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
</ion-content>