.custom-font {
    font-family: 'Josefin Sans', sans-serif;
}

ion-header {

    ion-toolbar,
    ion-item {
        --background: #f1f5f8;
        background: #f1f5f8;
        padding: 0 10px;
    }

    ion-toolbar {
        .bordered {
            --border-radius: 10px;
            --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
        }
    }

    ion-item {
        h3 {
            font-weight: 700;
            font-size: 14px;
        }

        ion-avatar {
            --border-radius: 40%;
        }
    }

}

ion-content {
    --background: linear-gradient(90deg, rgb(29, 161, 144) 0%, rgb(40, 189, 169)35%,
    rgba(35, 224, 200, 1) 100%);

    .slides {
        background: #f1f5f8;
        padding: 4px 10px 20px 10px;
        border-radius: 0 0 28px 28px;
    }

    ion-card {
        width: 100%;
        box-shadow: none;
        border-radius: 14px;
        padding: 14px;
        background: rgba(255, 255, 255, .8);

        .main {
            width: 60px;
            height: 60px;
            border-radius: 50px;
            background: #ffffff;
            box-shadow: 7px 7px 20px #dbdfe2, -7px -7px 20px #ffffff;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 45px;
            }
        }

        .files {
            padding-top: 14px;
        }
    }

    .container {
        padding: 6px 20px;
        color: #ffffff;

        ion-item {
            --background: rgba(255, 255, 255, .1);
            padding: 0;
            margin: 14px 0;
            --border-radius: 14px;
            color: #ffffff;
            font-weight: 600;

            ion-label {
                padding: 6px 0;

                h4 {
                    font-weight: 600;
                    font-size: 16px;
                }

                h6 {
                    color: rgba(255, 255, 255, .66)
                }
            }
        }

        h2 {
            padding-bottom: 8px;
        }
    }

    .container-form-btn {
        display: flex;
        justify-content: center;
    }

    .form-btn {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        min-width: 160px;
        height: 42px;
        background-color: #04ADBF;
        border-radius: 8px;
        font-size: 14px;
        font-family: sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        padding-top: 5px;
        transition: all 0.4s;
        box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
        border: none;
        outline: none;
    }

    .form-btn:hover {
        background-color: #04ADBF;
        box-shadow: 0 10px 30px 0px rgba(35, 47, 56, 0.8);
    }

}